= turbo_frame_tag game do
  .game
    = link_to game.name,
              game_path(game),
              data: { turbo_frame: "_top" }
    - unless @user_games.include?(game)
      = button_to "Join",
                game_game_users_path(game),
                method: :post,
                class: "btn btn--primary",
                data: { turbo_frame: "_top" }