.stats-body {
  display: flex;
  flex-direction: column;
  padding: var(--op-space-2x-large) var(--op-space-3x-large) var(--op-space-2x-large) var(--op-space-3x-large);
  gap: var(--op-space-x-large);
}

.stats-header {
  font-size: var(--op-font-4x-large);
}

.ransack-filter {
  display: flex;
  flex-direction: column;
}